installationfiles/power_automate_flow/Microsoft.Flow/flows/ea40ebcc-498d-4ddd-8292-db3e2aa9d89f/definition.json
{"name":"13b99f40-d328-44ba-b75d-216fe1c89a83","id":"/providers/Microsoft.Flow/flows/13b99f40-d328-44ba-b75d-216fe1c89a83","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Incident Reporting: NEW ITEM","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"5ef3b5f8-f7f5-4440-a179-7df4255ce881","type":"User","tenantId":"3d037bae-74e6-4984-a760-d9fa83afcbf7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-12-05T16:44:30.2280603Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-francecentral-01.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://zoango.sharepoint.com/sites/IncidentReporting'))}/tables/@{encodeURIComponent(encodeURIComponent('5b9942db-9449-4570-a2c2-4de22b7a9401'))}/onnewitems","authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_items_(App_Admins)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-francecentral-01.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://zoango.sharepoint.com/sites/IncidentReporting'))}/tables/@{encodeURIComponent(encodeURIComponent('4eff4a30-4149-4e2a-a85b-3e22ec4d6352'))}/items","authentication":"@parameters('$authentication')"}},"Get_Security_Advisor(s)":{"foreach":"@body('Get_items_(App_Admins)')?['value']","actions":{"Condition_2":{"actions":{"Condition_3":{"actions":{"Append_to_string_variable":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"securityAdvisors","value":"@items('Get_Security_Advisor(s)')?['Title']"}}},"runAfter":{},"else":{"actions":{"Append_to_string_variable_2":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"securityAdvisors","value":";@{items('Get_Security_Advisor(s)')?['Title']}"}}}},"expression":{"equals":["@empty(variables('securityAdvisors'))","@true"]},"type":"If"}},"runAfter":{},"expression":{"equals":["@items('Get_Security_Advisor(s)')?['Role']?['Value']","SA"]},"type":"If"}},"runAfter":{"Get_items_(App_Admins)":["Succeeded"]},"type":"Foreach"},"Get_Country_Director(s)":{"foreach":"@body('Get_items_(App_Admins)')?['value']","actions":{"Condition_4":{"actions":{"Condition_5":{"actions":{"Append_to_string_variable_3":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"countryDirectors","value":"@items('Get_Country_Director(s)')?['Title']"}}},"runAfter":{},"else":{"actions":{"Append_to_string_variable_4":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"countryDirectors","value":";@{items('Get_Country_Director(s)')?['Title']}"}}}},"expression":{"equals":["@empty(variables('countryDirectors'))","@true"]},"type":"If"}},"runAfter":{},"expression":{"and":[{"equals":["@items('Get_Country_Director(s)')?['Role']?['Value']","CD"]},{"equals":["@items('Get_Country_Director(s)')?['Country']?['Value']","@triggerBody()?['Title']"]}]},"type":"If"}},"runAfter":{"Get_Security_Advisor(s)":["Succeeded"]},"type":"Foreach"},"Compose_Security_Advisor(s)":{"runAfter":{"Get_Country_Director(s)":["Succeeded"]},"type":"Compose","inputs":"@variables('securityAdvisors')"},"Compose_Country_Director(s)":{"runAfter":{"Compose_Security_Advisor(s)":["Succeeded"]},"type":"Compose","inputs":"@variables('countryDirectors')"},"Send_an_email_(V2)":{"runAfter":{"Url_To_Item":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-francecentral-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']};","Subject":"Incident Reporting: Report Confirmation","Body":"<p>Dear @{triggerBody()?['Author']?['DisplayName']},<br>\n<br>\nYour new incident has been received.<br>\n<br>\n<a href=\"@{outputs('Url_To_Item')}\">Click here to view the incident in the app.</a><br>\n<br>\nThis is an automated message.<br>\n</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"Condition_6":{"actions":{"Send_an_email_(V2)_5":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-francecentral-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{variables('countryDirectors')}; @{variables('securityAdvisors')};","Subject":"Incdient Reporting: New Incident Reported","Body":"<p>Dear country director and security advisor(s),<br>\n<br>\nA new incident has been reported.<br>\n<br>\nIncident ID: @{triggerBody()?['ID']}<br>\n<br>\nAt this moment, no PGM has been selected. You can go into the item and add the email address of the responsible PGM.<br>\n<br>\n<a href=\"@{outputs('Url_To_Item')}\">Click here to view the incident in the app.</a><br>\n<br>\nThis is an automated message.</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"else":{"actions":{"Search_for_PGM":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SearchUser"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365users"}},"method":"get","path":"/users","queries":{"searchTerm":"@triggerBody()?['PGM']","top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@body('Search_for_PGM')","actions":{"Send_an_email_(V2)_4":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-francecentral-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{items('Apply_to_each_2')?['Mail']};@{variables('securityAdvisors')};@{variables('countryDirectors')};","Subject":"Incident Reporting: New Incident Reported","Body":"<p>Dear Country Director, Programme Manager, and Security Advisor(s),<br>\n<br>\nA new incident has been reported by @{triggerBody()?['Author']?['DisplayName']}.<br>\n<br>\nID: @{triggerBody()?['ID']}<br>\n<br>\n<a href=\"@{outputs('Url_To_Item')}\">Click here to view the incident in the app.</a><br>\n<br>\nThis is an automated message.</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Search_for_PGM":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@empty(triggerBody()?['PGM'])","@true"]},"type":"If"},"Url_To_Item":{"runAfter":{"Compose_Country_Director(s)":["Succeeded"]},"type":"Compose","inputs":"https://apps.powerapps.com/play/ee794ee7-90e6-4781-9693-56d85b19d6d5?ID=@{triggerBody()?['ID']}"}},"runAfter":{"Before_turning_flow_on,_update_time_in_input_below_www.utctime.net":["Succeeded"]},"expression":{"greater":["@triggerBody()?['Created']",""]},"type":"If"},"Before_turning_flow_on,_update_time_in_input_below_www.utctime.net":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"Compose","inputs":"2019-12-05T15:50:17Z"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"securityAdvisors","type":"String"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"countryDirectors","type":"String"}]}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"7438223c028b4d03bb7ee08f1554610d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-331d0bb1-7bfb-48dc-9e0a-9727033bbf1c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-5f1a3fd6-97bd-456c-a96b-6c63645df498","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}